header{
    background-color: red;
}

header h1{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

main{
    background-color: green;
}

nav ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    background-color: yellow;
}

section p {
    font-family: 'Courier New', Courier, monospace;
}

section h2{
    background-color: yellow;
}